
<style>
    /*targets the timer*/
    #timerInfo {
        font-size: 50px;
        margin-top: 100px;
    }

    #englishButtons {
        margin-top: 25px;
    }
</style>


<div class="container text-center">
    <div>
        <h1>English Section</h1>
    </div>
    <div class="row" id="timerInfo">
        <timer interval="1000" autostart="false"><span>{{minutes}} minutes, {{seconds}} seconds</span></timer>
    </div>
    <div class="row" id="englishButtons">
        <button class="btn btn-success btn-lg " ng-show="englishCtrl.start" ng-click="englishCtrl.startTimer()" ng-disabled="englishCtrl.timerRunning">Start Timer</button>
        <button class="btn btn-success btn-lg" ng-show="englishCtrl.resume" ng-click="englishCtrl.resumeTimer()" ng-disabled="englishCtrl.timerRunning">Resume Timer</button>
        <button class="btn btn-danger btn-lg " ng-show="englishCtrl.stop" ng-click="englishCtrl.stopTimer()" ng-disabled="!englishCtrl.timerRunning">Stop Timer</button>
        <button class="btn btn-primary btn-lg " ng-show="englishCtrl.lap" ng-click="englishCtrl.displayTime()">Complete Passage</button>
        <button class="btn btn-danger btn-lg " ng-show="englishCtrl.reset" ng-click="englishCtrl.resetTimer()">Restart Test</button>
    </div>
    <div ng-repeat="time in englishCtrl.showTime">
        <h2>Passage{{time.number}} completed: {{time.minutes}}min {{time.seconds}}sec</h2>
    </div>
</div>

<md-content>
    <div style="visibility: hidden">
        <div class="md-dialog-container" id="timeAlert">
            <md-dialog class="panel">
                <div class="modal-header">
                    <h1 class="modal-title">Move on to next passage</h1>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12-xs text-center">
                            <button class="btn btn-success btn-lg" ng-click="englishCtrl.okClicked(); englishCtrl.displayTime()">Start next passage</button>
                        </div>
                    </div>
                </div>
            </md-dialog>
        </div>
    </div>
</md-content>
