
<style>
    /*targets the timer*/
    #timerInfo {
        font-size: 50px;
        color: black;
    }

    #englishButtons {
        margin-top: 25px;
    }

    #saveTimesBtn {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .btn-circle.btn-xl {
        width: 80px;
        height: 80px;
        padding: 10px 16px;
        font-size: 20px;
        line-height: 1.33;
        border-radius: 40px;
    }

    #timerContainer {
        background: rgba(255, 255, 255, 0.8)
    }

    #loggedTimes {
        color: black;
    }

</style>


<div class="container text-center col-md-8 col-md-offset-2" id="timerContainer">
    <div class="row" id="timerInfo">
        <timer interval="1000" autostart="false"><span>{{minutes}} minutes, {{seconds}} seconds</span></timer>
    </div>
    <div class="row" id="englishButtons">
        <button class="btn btn-success btn-circle btn-xl" ng-show="englishCtrl.start" ng-click="englishCtrl.startTimer()">Start</button>
        <button class="btn btn-danger btn-circle btn-xl" ng-show="englishCtrl.stop" ng-click="englishCtrl.stopTimer()">Stop</button>
        <button class="btn btn-primary btn-circle btn-xl " ng-disable="englishCtrl.lap" ng-click="englishCtrl.displayTime()">Log</button>     
    </div>
    <div ng-repeat="time in englishCtrl.showTime">
        <h4 id="loggedTimes">Passage{{time.number}} completed: {{time.minutes}}min {{time.seconds}}sec</h4>
    </div>
    <div class="row" id="saveTimesBtn">
        <button class="btn btn-success btn-lg" ng-click="englishCtrl.saveTimes()">Save Times</button>
        <button class="btn btn-danger btn-lg " ng-disable="englishCtrl.reset" ng-click="englishCtrl.resetTimer()">Restart Test</button>
    </div>  
</div>

<md-content>
    <div style="visibility: hidden">
        <div class="md-dialog-container" id="timeAlert">
            <md-dialog class="panel">
                <div class="modal-header">
                    <h1 class="modal-title">Move on to next passage</h1>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12-xs text-center">
                            <button class="btn btn-success btn-lg" ng-click="englishCtrl.okClicked(); englishCtrl.displayTime()">Start next passage</button>
                        </div>
                    </div>
                </div>
            </md-dialog>
        </div>
    </div>
</md-content>
